body { 
    margin: 0%;
}
section {
    margin: 10%;
}

header { background-color: #009e3f;
        display: flex;
        align-items: center; 
}

.titulo {
    display: inline-block;
    color: #FFFFFF;
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 2%;
    margin-right: 55%;
}

.subtitulos {
    display: flex;
    color: #FFFFFF;
    margin: auto;
    margin-right: 5%;
    font-size: 30px;
    align-items:end;
    font-family:'Times New Roman', Times, serif;

}

.sectionH1 {
    font-size: 98px;
}

.sectionH2 {
    font-size: 76px;
}

.sectionH3 {
    font-size: 69px;
}

footer { 
    background-color: #009e3f;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: black; 
    padding: 20px; 
}

.imagenUADE { 
    padding-right: 5%;
}
