@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

header {
    width: 100%;
    position: relative;
    height: auto;
    z-index: 2;
}

.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #009E3F;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.navbar-logo {
    flex: 1;
    font-size: 2rem;
    user-select: none;
    font-weight: bolder;
    color: white;
}

.navbar-icono {
    color: white;
    font-size: 2rem;
    display: none;
}

.navbar-links {
    border-radius: 7%;
    font-size: 1.25rem;
}

.navbar-links:hover {
    background-color: white;
    transition: 0.5s;
}

.navbar-links:hover a {
    color: #009E3F;
    transition: 0.5s;
}

@media (max-width: 640px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-icono {
        display: block;
    }
    .navbar-links {
        border-radius: 0%;
        display: none;
        width: 100%;
        text-align: center;
    }
    .navbar.active .navbar-links {
        display: block;
    }
    footer {
        flex-direction: column;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    footer p {
        display: none;
    }
}

.texto6{
    color: #009E3F;
    text-decoration: underline;
}

.contenedor{
    font-size: 40px;
}

.texto5{
    font-size: 5rem;
    padding-bottom: 2%;
    text-decoration: underline;
}

.texto2{
    color: #009E3F;
    text-decoration: underline;
    font-size: 4.5rem;
}

.texto1{
    color: #009E3F;
    font-size: 50px;
    text-align: center;
    
}

.texto3{
    font-size: 2rem;
    font-weight: bolder;
    color: white;

}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
}

.estructura{
text-align: center;
font-size: 20px;
}

.logo{
    width: 100%;
    height: auto;
    max-width: 20rem;
}

.paleta {
    width: 100%;
    height: auto;
    max-width: 45rem;
}

.arbol {
    width: 100%;
    height: auto;
    max-width: 60rem;
}

span {
    color: #009E3F;
}

.texto{
    text-align: left;
    background-color:#008000;
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
    background-color: #009E3F;
    color: white;
    position: relative;
    z-index: 2; 
}

footer img {
    width: 7rem;
    height: auto;
    margin-right: 0.5%;
}

footer p {
    font-size: 1.25rem;
    font-weight: bolder;
    margin-left: 0.5%;
}